#help-container {
	color: #ffffff;
	padding: 10px;
	border-radius: 16px;
	font-size: 14px;
	width: 818px;
	background-color: rgba(0, 0, 0, 0.65);
	margin: 0 auto;
}

#help-container-content {
	padding: 5px;
}

#help-container h2 {
	text-align: center;
	margin-top: 0;
	width: 100%;
	padding-bottom: 5px;
	border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

#help-container table {
	border: 0;
	width: 100%;
	border-collapse: collapse;
}

#help-container table td {
	border-bottom: 1px solid rgba(255, 255, 255, 0.07);
}
#help-container table tr:last-child td {
	border-bottom: none !important;
}

#help-container table td {
	vertical-align: top;
}

#help-container table td.image {
	width: 270px;
	padding: 0;
}

#help-container table td.text {
	padding: 3px 3px 3px 20px;
}

#help-container table td.image img {
	border-radius: 5px;
}

#help-container table td.image .shadow {
	display: block;
	position: relative;
}

#help-container table td.image .shadow img {
	display: block;
}

#help-container table td.image .shadow::before {
	display: block;
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: inset 3px 3px 7px rgba(0, 0, 0, 0.5);
}

#help-container table td.text p:first-child {
	margin-top: 0;
}
#help-container table td.text p:last-child {
	margin-bottom: 0;
}

#help-container table td {
	padding-top: 37px !important;
	padding-bottom: 37px !important;
}
#help-container table tr:first-child td {
	padding-top: 0 !important;
}
#help-container table tr:last-child td {
	padding-bottom: 0 !important;
}

#help-container table td.text .emphasis {
	color: #a0a0a0;
	font-weight: bold;
}

#help-container table td.text .emphasis.extra {
	text-decoration: underline;
}

#help-container table td.text .technical {
	color: #f0f0f0;
	font-family: 'Monaco', 'Courier New', monospace;
	font-size: 12px;
	line-height: inherit;
	height: 14px;
	background-color: #646464;
	border-radius: 4px;
	padding: 1px 3px;
}

#help-container table td.text ul {
	list-style: square outside;
}

#help-container table td.text ul li {
	margin-left: -15px;
	margin-bottom: 10px;
}

#help-container table td.text .tip,
	#help-container table td.text .note,
	#help-container table td.text .warning {
	font-weight: bold;
}

#help-container table td.text .tip {
	color: #00ff00;
}
#help-container table td.text .note {
	color: #ffa500;
}
#help-container table td.text .warning {
	color: #ff0000;
}