#module-organizer #topmenu {
	display: block;
	text-align: right;
}

#module-organizer #topmenu #lairselector {
	display: inline-block;
	text-align: left;
}

#module-organizer #topmenu #lairselector #lairselectorLabel {
	display: inline-block;
	margin-right: 10px;
}

#module-organizer #topmenu #lairselector select#lairselectorDropdown {
	display: inline-block;
	border: 2px solid rgba(255, 255, 255, 1);
	border-radius: 5px;
	background: rgba(0, 0, 0, 0.5);
	color: #ffffff;
	height: 32px;
}

/* -------------------- */

#module-organizer #bosstable table {
	border: width: 838px;
	margin: 0px;
	padding: 0px;
	border-collapse: collapse;
	margin-top: 8px;
	margin-bottom: 8px;
}

#module-organizer #bosstable td.pad {
	width: 8px;
}

#module-organizer #bosstable table.two td.pad:first-child, #module-organizer #bosstable table.two td.pad:last-child {
	width: 141px;
}

#module-organizer #bosstable table.one td.pad:first-child, #module-organizer #bosstable table.one td.pad:last-child {
	width: 282px;
}

#module-organizer #bosstable td.inner {
	width: 274px;
	margin: 0px !important;
	padding: 0px !important;
	text-align: center;
}

#module-organizer #bosstable td.inner .innerContent {
	
}