#boss-fragments {
	width: 844px;
	border: 0;
	margin: 0 auto;
}

/* ====================
 * Title block */
.boss-title .name {
	color: rgba(255, 255, 255, 1);
	font-size: 20px;
}
.boss-title .mission {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
}

/* ====================
 * Fragments block */
.bossfragment-controls {
	text-align: center;
	font-size: 11px;
	text-shadow: 1px 1px 1px #000000;
}
.bossfragment-controls .button {
	text-decoration: none;
	color: #464646;
	text-shadow: none;
	background-color: #c0c0c0;
	border-radius: 2px;
	width: 12px;
	height: 12px;
	font-size: 10px;
	cursor: pointer;
	display: inline-block;
	font-weight: bold;
}
.bossfragment-controls .count {

}
.bossfragment-controls .count-all {
	color: #c0c0c0;
}
.bossfragment-controls .count-all:before {
	color: #c0c0c0;
	content: '(';
}
.bossfragment-controls .count-all:after {
	color: #c0c0c0;
	content: ')';
}

/* ====================
 * Counts block */
.boss-counts .count-format {
	font-size: 20px;
}
.boss-counts .count-format .count {
	color: rgba(255, 255, 255, 1);
	font-weight: bold;
}
.boss-counts .missing-format {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.75);
}
.boss-counts .missing-format .count {
	
}