.item {
	width: 64px;
	height: 64px;
	padding: 4px 4px;
	border-radius: 9px;
	margin: 1px;
	background-size: 100%;
	display: inline-block;
}

.item.small {
	width: 32px;
	height: 32px;
	padding: 2px 2px;
	border-radius: 5px;
	margin: 1px;
	background-size: 100%;
	display: inline-block;
}

.item.common {
	border: 3px solid #ffffff;
}
.item.uncommon {
	border: 3px solid #00ff16;
}
.item.rare {
	border: 3px solid #02b6ff;
}
.item.epic {
	border: 3px solid #d565f8;
}
.item.legendary {
	border: 3px solid #ffd001;
}

.item.small {
	border-width: 2px;
}

.item .icon {
	width: 100%;
	height: 100%;
	border-radius: 8%;
	overflow: hidden;
}

.item .name {
	font-size: 11px;
	letter-spacing: -0.5px;
	color: #ffffff;
	text-shadow: 0px 0px 1px #000000, 0px 0px 3px #000000, 0px 0px 5px #000000, 0px 0px 7px #000000; /* Quadruple strength */
	text-align: center;
	padding-top: 78%;
	
	cursor: default;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.item.small .name {
	font-size: 7px;
	text-shadow: 0px 0px 3px #000000, 0px 0px 5px #000000;
	padding-top: 72%;
}